h1 {
    color: green;
    font-size: 30px;
font-style: bold;
font-family: consolas;
text-align: center;
}

h3{
    color:darkgreen
    font-size: 20px;
  font-style: normal;
  font-family: consolas;
}

p {
  font-family: consolas;
}
li {
  font-family: consolas;
}

.score {
  color: gray;
}
.gold{
  color:gold;
}

#gameLink {
  text-align:center;

}

#tagLine {
  text-align: center;
  color: green
  font-family: consolas;
  font-size: 20px;
}


.alignC{
  text-align: center;
}
